---
const { lang, title } = Astro.props;
import "../assets/css/style.css";
import "../assets/css/reset.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const name = "Linda Mence";
const defaultLang = "lv";

// fonts
// eb garamond
import "@fontsource-variable/eb-garamond/wght.css";
import "@fontsource-variable/eb-garamond/wght-italic.css";
---

<!doctype html>
<html lang={lang ? lang : defaultLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <title>{title !== "index" ? `${title}` : name}</title>
    <meta name="meta-title" content={title !== "index" ? `${title}` : name} />
    <meta name="description" content={title !== "index" ? `${title}` : name} />
    <link rel="canonical" href={Astro.url.href} />

    <meta property="og:title" content={title !== "index" ? `${title}` : name} />
    <meta
      property="og:description"
      content={title !== "index" ? `${title}` : name}
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />

    <!-- favicon placement -->
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Linda Mence" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <link
      rel="preload"
      href="/fonts/FD_Garamon-d-t/Garamondt-Italic.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/FD_Garamon-d-t/Garamondt-Regular.woff"
      as="font"
      type="font/woff"
      crossorigin
    />

    <!-- cms redirect -->
    <!-- <script>
      const hash = window.location.hash;

      if (hash.includes("invite_token") || hash.includes("recovery_token")) {
        // normalize hash format so Decap accepts it
        const cleanHash = hash.replace(/^#\/?/, "#");

        window.location.replace("/admin/" + cleanHash);
      } else if (window.location.pathname === "/") {
        // your normal language redirect
        window.location.replace("/lv/");
      }
    </script> -->
  </head>
  <body>
    <Header lang={lang ? lang : defaultLang} />
    <!-- slot -->
    <slot />
    <Footer lang={lang ? lang : defaultLang} />

    <div class="canvas"></div>
  </body>
</html>
