---
import { Image } from "astro:assets";
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title} lang={frontmatter.lang}>
  <!-- <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p> -->
  <!-- <p>Written by: {frontmatter.author}</p> -->
  <!-- <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->

  <!-- <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div> -->

  <main>
    <div class="pagetitle"><h1>{frontmatter.title}</h1></div>
    <!-- build gallery if it exists -->
    {
      frontmatter.gallery && (
        <div class="gallery">
          {frontmatter.gallery.map((location: string, i: number) => (
            <Picture
              src={frontmatter.gallery[i]}
              alt={location}
              formats={["avif", "webp"]}
              loading="lazy"
              width="900"
            />
          ))}
        </div>
      )
    }
    <slot />
  </main>
</Layout>
