---
import { Image } from "astro:assets";
import { Masonry } from 'astro-masonry';
import Layout from "../layouts/Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title} lang={frontmatter.lang}>
  <main>

    { frontmatter.title !== "index" && (
    <>
    <!-- not mandatory -->
    <div class="path">
      {
        frontmatter.sectionTitle && (
          <div class="sectiontitle">
            <h1>{frontmatter.sectionTitle}</h1>
          </div>
          <span class="seperator">></span>
        )
      }
      <!-- mandatory -->
      {
        frontmatter.title !== "index" && (
          <div class="pagetitle">
            <h1>{frontmatter.title}</h1>
          </div>
        )
      }
    </div>
    </>
    )}

    <!-- md body mandatory -->
    <div class="md-body">
      <slot />
    </div>

     <!-- build gallery if it exists -->
    {
      frontmatter.gallery && (
      <div class="gallery">
      <Masonry
      breakpointCols={{
        default: 4,
        1100: 3,
        700: 2,
        500: 1,

      }}
      debug= {true}
      sortByHeight={true}
          >
          {frontmatter.gallery.map((item: any) => {
            if (!item?.image) return null;

            return (
              <div class="gallery-wrap">
                <Image
                  format="webp"
                  src={item.image}
                  alt={item.alt || ""}
                  loading="lazy"
                  width="700"
                  quality="high"
                />
                <button class="expand"></button>
              </div>
            );
          })}
          </Masonry>
        </div>
      )
    }
  </main>

  
</Layout>
