---
import { Masonry } from 'astro-masonry';
import Layout from "../layouts/Layout.astro";
import Picture from 'astro/components/Picture.astro';
const { frontmatter } = Astro.props;

---

<Layout title={frontmatter.title} lang={frontmatter.lang}>
  <main>
    <!-- <div class="grid"> -->

    

    <Masonry
      breakpointCols={{
        default: 3,
        700: 2,
        500: 1,

      }}
      debug= {false}
          >

          <!-- md body mandatory -->
        { frontmatter.title !== "index" && (
        <div class="md-body"> 
            <div class="path">
              {
                frontmatter.sectionTitle && (
                  <div class="sectiontitle">
                    <h1>{frontmatter.sectionTitle}</h1>
                  </div>
                  <span class="seperator">></span>
                )
              }
              {
                frontmatter.title !== "index" && (
                  <div class="pagetitle">
                    <h1>{frontmatter.title}</h1>
                  </div>
                )
              }
            </div>
            <slot />
        </div>
        )}

             <!-- build gallery if it exists -->
            {
              frontmatter.gallery && (
                  <>
                  {frontmatter.gallery.map((item: any, index: number) => {
                    if (!item?.image) return null;

                    return (
                      <div class="gallery-wrap">

                        <Picture 
                        src={item.image} 
                        alt={item.alt || ""} 
                        format="webp"
                        layout="constrained"
                        fallbackFormat="jpg"
                        quality={80}
                        loading={index < 2 ? "eager" : "lazy"}
                        inferSize={true}
                        decoding="async"
                        preload="webp"
                        placeholder="blurred"
                        includeSourceFormat={false}
                        fadeInTransition={{
                          delay: "0.5s",
                          duration: "0.5s",
                          timingFunction: "linear",
                        }}>
                        </Picture>

                      
                        {/* <button class="expand"></button> */}
                      </div>
                    );

                  })}
               </>
              )
            }
        </Masonry>

        <!-- </div> -->
  </main>
</Layout>
