---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title} lang={frontmatter.lang}>
  <main>
    <!-- not mandatory -->
    <div class="path">
      {
        frontmatter.sectionTitle && (
          <div class="sectiontitle">
            <h1>{frontmatter.sectionTitle}</h1>
          </div>
          <span class="seperator">></span>
        )
      }
      <!-- mandatory -->
      {
        frontmatter.title !== "index" && (
          <div class="pagetitle">
            <h1>{frontmatter.title}</h1>
          </div>
        )
      }
    </div>

    <!-- build gallery if it exists -->
    {
      frontmatter.gallery && (
        <div class="gallery">
          {frontmatter.gallery.map((item: any) => {
            if (!item?.image) return null;

            return (
              <div class="gallery-wrap">
                <Image
                  format="webp"
                  src={item.image}
                  alt={item.alt || ""}
                  loading="lazy"
                  width="900"
                  quality="high"
                />
              </div>
            );
          })}
        </div>
      )
    }
    <!-- md body mandatory -->
    <slot />
  </main>
</Layout>
