---
import BlogPost from "../components/BlogPost.astro";

const { lang } = Astro.props;

const otherLang = lang === "en" ? "lv" : "en";

const allPostsEn = Object.values(
  import.meta.glob(`/src/pages/en/**/*.md`, { eager: true }),
);

const allPostsLv = Object.values(
  import.meta.glob(`/src/pages/lv/**/*.md`, { eager: true }),
);

const allPosts = lang === "en" ? allPostsEn : allPostsLv;

const postsByGroup: Record<string, any[]> = {};

allPosts.forEach((post: any) => {
  const segments = post.url.split("/").filter(Boolean);

  const group: string = segments[1] || "ungrouped";

  if (!postsByGroup[group]) {
    postsByGroup[group] = [];
  }

  postsByGroup[group].push(post);
});
---

<header>
  <div class="menu">
    <div class="nav-wrap">
      <h3>Linda Mence</h3>
      <ul>
        <!-- {
          allPosts.map((post: any) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
        } -->
        {
          Object.entries(postsByGroup).map(([group, posts]: any) => (
            <>
              <h1>{group}</h1>

              {posts.map((post: any) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
              ))}
            </>
          ))
        }
      </ul>

      <div class="lang-sw"><a href={`/${otherLang}`}>{otherLang}</a></div>
    </div>
  </div>
</header>
