---
const { lang } = Astro.props;
const otherLang = lang === "en" ? "lv" : "en";

const allPostsEn = Object.values(
  import.meta.glob(`/src/pages/en/**/*.md`, { eager: true }),
);

const allPostsLv = Object.values(
  import.meta.glob(`/src/pages/lv/**/*.md`, { eager: true }),
);

const allPosts = (lang === "en" ? allPostsEn : allPostsLv).filter(
  (post: any) => post.url.split("/").filter(Boolean).length > 1,
);

const postsByGroup = allPosts.reduce(
  (groups: Record<string, any[]>, post: any) => {
    const group = post.url.split("/").filter(Boolean)[1] || "*";
    (groups[group] ??= []).push(post);
    return groups;
  },
  {} as Record<string, any[]>,
);
---

<header>
  <div class="menu">
    <div class="handle">
      <button class="dot"><span class="dot-figure"></span></button>
    </div>
    <ul class="nav-list">
      <li class="home"><a href="/"><h1>Linda Mence</h1></a></li>

      {
        Object.entries(postsByGroup).map(([group, posts]: any) => (
          <>
            <li class={group}>
              <div class="section">
                {posts[0]?.frontmatter?.sectionTitle && (
                  <h1>{posts[0].frontmatter.sectionTitle}</h1>
                )}

                {posts.map((post: any) => (
                  <h2>
                    <a href={post.url}>{post.frontmatter.title}</a>
                  </h2>
                ))}
              </div>
            </li>
          </>
        ))
      }

      <li class="lang-sw"><a href={`/${otherLang}`}>{otherLang}</a></li>
    </ul>
  </div>
</header>

<script is:inline>
  const button = document.querySelector(".dot");
  const menu = document.querySelector(".menu");

  // restore state on load
  if (localStorage.getItem("menuOpen") === "true") {
    menu.classList.add("open");
  }

  button.addEventListener("click", (e) => {
    e.stopPropagation();
    menu.classList.toggle("open");

    // save state
    localStorage.setItem("menuOpen", menu.classList.contains("open"));
  });

  document.addEventListener("click", (e) => {
    if (!menu.contains(e.target)) {
      menu.classList.remove("open");
      localStorage.setItem("menuOpen", "false");
    }
  });

  document.querySelectorAll(".nav-list a").forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault();
      const href = link.getAttribute("href");

      // save current state BEFORE navigating
      localStorage.setItem("menuOpen", menu.classList.contains("open"));

      menu.classList.remove("open");

      if (!menu.contains(e.target)) {
        setTimeout(() => {
          window.location.href = href;
        }, 500);
      } else {
        window.location.href = href;
      }
    });
  });
</script>
